@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: 0;
  border: none;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* Shared Styles  */
.container {
  width: 1140px;
  margin: 0 auto;
}
.btn {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
  background: transparent;
}
img {
  width: 100%;
}
section {
  padding: 80px 0;
}
.title-primary {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.description-primary {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0%;
  opacity: 0.7;
  margin-top: 24px;
}
.btn-learn-more {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-decoration-line: underline;
}
/* Navbar  */
nav {
  padding: 20px 0;
  background: rgb(255, 255, 255);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-btn {
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
}
.navbar a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}

/* Hero Styles */
.hero-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  border: 1px dashed rgb(197 197 197);
  border-width: 2px 0 2px 0;
}
.hero-content {
  max-width: 998px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  height: 670px;
}
.hero-section .hero-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
.hero-section .hero-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.hero-section .hero-btn button {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
}

/* Why Web Dev Styles  */
.web-dev-container {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 98px;
}
.web-dev-box {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}
.web-dev-box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}
.web-dev-box-item:nth-child(2) {
  background: linear-gradient(270deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}
.web-dev-box-content p {
  margin: 20px 0;
}
.web-dev-box-content {
  max-width: 477px;
}
.web-dev-box-content h3 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.web-dev-box-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
  margin: 16px 0 32px;
}
.web-dev-box-content .btn-web-dev {
  padding: 12px 20px 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.web-dev-description {
  margin-bottom: 48px;
}

/* Inspiration section styles */
.youtube-embedded-video {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 48px;
}
.youtube-embedded-video iframe {
  border-radius: 16px;
}

/* Current Target Section Styles  */
.current-target-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
.current-target-box-item {
  padding: 40px;
  border-radius: 16px;
}
.current-target-box-item:nth-child(1) {
  background: rgba(255, 76, 30, 0.05);
}
.current-target-box-item:nth-child(2) {
  background: rgba(0, 76, 232, 0.05);
}
.current-target-box-item:nth-child(3) {
  background: rgba(255, 223, 0, 0.05);
}
.current-target-box .current-target-box-item .current-target-box-image {
  width: 40px;
  margin-bottom: 24px;
}
.current-target-box-content {
  color: rgb(13, 19, 33);
  text-align: left;
  font-family: Azeret Mono;
}
.current-target-box-content p {
  margin: 24px 0;
}
.current-target-box-content h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.current-target-box-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

/* Next Target Section Styles */
.next-target-items {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
}
.next-target-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  gap: 24px;
}
.next-target-item-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.next-target-item-image {
  width: 15%;
}
p.next-target-description {
  margin-bottom: 48px;
}
.next-target-item-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* Contact Section Styles  */
section#contact-section {
  padding-top: 0;
}
.contact-container {
  padding: 64px 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url("../assets/contact-banner.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  min-height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-content {
  width: 730px;
}

.contact-container .contact-title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 36px;
}

.contact-container .contact-description {
  color: rgb(255, 255, 255);

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: center;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 684px;
  gap: 16px;
  margin-top: 24px;
  height: 57px;
}
.contact-form input {
  padding: 19px 20px 19px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  height: 100%;
}
.contact-form input.contact-input {
  width: 80%;
}
.contact-form input.btn-submit {
  width: 20%;
}
.contact-form input.contact-input {
  color: rgba(13, 19, 33, 0.849);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.contact-form input.contact-input::placeholder {
  color: rgba(13, 19, 33, 0.4);
}
.contact-form input.btn-submit {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

/* Footer section styles  */
footer {
  background: rgba(13, 19, 33, 0.03);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
.footer-container .social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
